<manifest xmlns:android="http://android.com"
    package="zeroflowui.example">
    <application 
        android:label="ZeroFlowUI" 
        android:theme="@style/TransparentTheme">
        <activity android:name="org.golang.mobile.AppActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
